body{
  margin:0px;
}
.moviefinder-header{
  position: fixed;
  width:100%;
  background-color: rgb(120, 170, 228);
  z-index:100;
  top: 0;
}
.moviefinder-nav a{
  color:rgb(56, 50, 50);
  text-align: center;
  padding: 14px 16px;
  display: inline-block;
  text-decoration: none;
}
.moviefinder-nav a:hover:not(.active){
  background-color: rgb(128, 186, 204);
}
.active:hover{
  background-color: rgb(84, 164, 230);
}
.active{
  background-color: #87c5e2;
}
.content{
  position: absolute;
  top:5%;
  /* background-image: url("../images/background.jpg"); */
  background-color: rgb(196, 233, 245);
  background-size: 100% 95%;
  height: 95%;
  width: 100%;
  text-align: center;
}
.logo{
  display: inline-block;
  font-size: 50px;
  color: black;
  vertical-align: middle;
}
.logo-text{
  display: inline-block;
  font-size: 100px;
  color: rgb(66, 61, 61);
  vertical-align: middle;
}
.search-bar input{
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid transparent
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 5px;
  display: inline-block;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
}

.card .container {
  padding: 2px 16px;
}

.movie-content{
  background-color: rgb(220, 244, 248);
}

.search-heading h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 40px;
  margin: 40px;
}

#about-heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 40px;
  margin: 40px;
}

#about-paragraph {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 40px;
  margin: 40px;
}